.not-found {
	width: 50%;
	margin: 12% auto;
}
.not-found h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}
.not-found-404 h3 {
	text-align: center;
	font-family: cabin, sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #262626;
	margin-bottom: -10%;
	letter-spacing: 3px;
}
.not-found-404 span {
	text-align: center;
	font-size: 252px;
	text-shadow: -8px 0 0 #fff;
}
